<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1" >
    <listeners>
        <listener class-name="base.TestListener"></listener>

    </listeners>
<test name="Android">
    <parameter name="platform" value="android"></parameter>
    <classes>
        <!--class name="android.Launch_and_Kill" /-->
        <!--class name="android.tc.Login"/-->
        <!--class name="android.tc.Signup" /-->
        <!--class name="android.tc.Create_All_Type_Of_Post"/-->
        <!--class name="android.tc.Edit_Post_All_Functionality"/-->
        <class name="android.tc.Already_created_post_functionality">


        </class>

    </classes>
</test>
</suite>
